* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
    color: #ffff;
}

.square {
    float: left;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    background-color: rgb(227, 240, 252);
    margin: 1%;
    border-radius: 15%;
    transition: background 0.8s;
    
}

.square:hover {
    opacity: 0.7;
    /*Opacidad aplicada al cuadrado cuando pasamos el mouse sobre*/
}

.container {
    width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-shadow: 2px 4px 4px rgb(130, 254, 213);
    margin-top: 20px;
    margin-right: 30px;
}

#colorDisplay {
    margin-right: 200px;
}

span {
    text-align: center;
    margin-left: 200px;
}

button {
    background-color: transparent;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    border: 2 px solid #ffff;
    border-radius: 10px;
    color: rgb(130, 254, 213);
}

#reset {
    margin-left: 420px;
    width: 90px;
}

#message {
    font-size: 25px;
    margin-top: 20px;
}

.difficulty {
    margin-left: 800px;
}

#btnfacil,
#btndificil {
    margin-left: 10px;
    width: 70px;
}